<!DOCTYPE html>
{%  load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel = "stylesheet" href = "{% static 'styles/base.css' %}">
    <script src = "{% static 'js/base.js' %}"></script>
    <link rel="stylesheet" href="{% static 'styles/emains.css' %}" />
    <title>{% block title %} {% endblock title %} Interiorshop </title>
  </head>

  <body>
    
    {% include 'enavbar.html' %}

    
    {% if messages %}
    <ul class = "messages">
        {% for message in messages %}
        <li>{{ message}}</li>
        {% endfor%}  
    </ul>
    {% endif %}


    {% block content %}
        

    {% endblock content%}    

    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>



